<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en-us">
<head>
    <meta charset="UTF-8" />
    <title>Add To Do</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <h1>Add To Do:</h1>
    <form th:action="@{/addToDo}" th:object="${toDoForm}" method="POST">
        <label for="text">Text:</label>
        <input id="text" type="text" th:field="*{text}" />
        <input type="submit" value="Create" />
    </form>
    <br/>
    <div th:if="${errorMessage}" th:utext="${errorMessage}" style="color:red;font-style:italic;">
        ...
    </div>
</body>
</html>